* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: NT Vanilla, sans-serif;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-size: 17px;
    line-height: 30px;
}

body {
    overflow: hidden;
    color: #c8d1d0;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
    color:#c8d1d0;
}

.hero {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background: #b16afd;
    border-radius: 50%;
    color: #fff;
    font-weight: 700px;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500px;
    color: #fff;
}

nav .hamburger {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .hamburger span {
    display: block;
    background: #b16afd;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s; 
    transition-property: transform, opacity;
}
.p-1 {
    padding-top: 35px;
}
h-1 {
    padding-top: 45px;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

nav .navlinks li a:hover {
    color:#b16afd ;
    transition: 0.3s;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container-2 .hero-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid grey;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.hero-image img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-image img:hover {
    transform: scale(1.2);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    font-size: 16px;
}

.hero-text h1 {
    color: #b16afd;
    font-size: 3rem;
}

.hero-text p {
    color: #e5e5e5;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: .0rem .2rem .4rem #777;
    /* line I added */
    border-color:#b16afd;
    pointer-events: visible;
    position: relative;
    z-index: 0;
    visibility: visible;
    float: none;
    transition: 0.3s;
}

.btn-active {
    border-color: #b16afd;
}

.hero-text .socials i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .socials i:hover {
    color: #b16afd;
}

/* responsive design */

@media(max-width:930px) {
    nav .hamburger {
        display: initial;
    }
    .click {
        top: 45px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0 0 0 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li {
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open {
        right: 0;
    }
    .container-2 {
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text {
        padding: 40px 0px;
    }
}
/*@media(max-width:768px) {
    .container-2 {
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text {
        padding: 40px 0px;
    }
}*/